@use "sass:math";

@use "mixins";
@use "variables";

/* =Blocks
-----------------------------------------------------------------------------*/
.blocks-2,
.blocks-3,
.blocks-4,
.blocks-5,
.blocks-6 {
  padding-left: 0;
  list-style: none;
  margin-left: math.div(-(variables.$grid-gutter-width), (variables.$grid-width * 0.01)) * .01;
  @include mixins.clearfix;
  & > li {
    height: auto;
    float: left;
    margin-bottom: variables.$base-line;
    margin-left: math.div(variables.$grid-gutter-width, (variables.$grid-width * 0.01)) * .01;
    & ul {
      list-style-type: disc;
    }
    & ul ul {
      list-style-type: circle;
    }
    & li {
      float: none;
      margin: 0;
    }
  }

}

.blocks-2 > li { @include mixins.block(2); }
.blocks-3 > li { @include mixins.block(3); }
.blocks-4 > li { @include mixins.block(4); }
.blocks-5 > li { @include mixins.block(5); }
.blocks-6 > li { @include mixins.block(6); }

.block-first {
  clear: both;
}