@use "sass:color";
@use "colors";
@use "cursors";
@use "mixins";
@use "variables";

/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
input[type="submit"].btn,
input[type="button"].btn,
input[type="reset"].btn,
button.btn {
  transition: all 150ms ease-in-out, transform 50ms ease, background 150ms ease-in-out;

  display: inline-block;
  vertical-align: top;

  font-family: variables.$font-family-controls;
  font-size: 1em;
  font-weight: 400;

  line-height: variables.$base-line;

  text-align: center;
  text-decoration: none;
  color: colors.$color-body;

  -webkit-appearance: none;

  outline: none;
  margin: 0;
  border: none;
  border-radius: variables.$button-radius;
  box-shadow: none;
  cursor: pointer;
  background: colors.$color-gray;
  padding: variables.$padding-btn;

  &:hover {
    background: colors.$color-gray-dark;
  }

  &[class*='unit-'] {
    margin: auto variables.$grid-gutter-width;
  }
}

.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-big,
input[type="submit"].btn-big,
input[type="button"].btn-big,
input[type="reset"].btn-big,
button.btn-big {
  font-size: variables.$font-size-big;
}

.btn-small,
input[type="submit"].btn-small,
input[type="button"].btn-small,
input[type="reset"].btn-small,
button.btn-small {
  font-size: variables.$font-size-small;
}
.btn-smaller,
input[type="submit"].btn-smaller,
input[type="button"].btn-smaller,
input[type="reset"].btn-smaller,
button.btn-smaller {
  font-size: variables.$font-size-smaller;
  vertical-align: baseline;
}

.btn-outline,
input[type="submit"].btn-outline,
input[type="button"].btn-outline,
input[type="reset"].btn-outline,
button.btn-outline {
  background: none;
  padding: variables.$padding-btn-outline;
  border: 1px solid colors.$color-black;
  color: colors.$color-black;

  &:hover {
    border-color: colors.$color-gray-dark;
  }
}

.btn-outline.btn-active {
  padding: variables.$padding-btn;
}

.btn-outline.bold {
  border-width: 2px;
  padding: variables.$padding-btn-outline-bold;
}

.btn-active,
.btn[disabled],
.btn-disabled {
  background: none;
  background: colors.$color-gray-dark;
  color: rgba(0, 0, 0, .5);

  &:hover {
    color: rgba(0, 0, 0, .5);
    background: colors.$color-gray-dark;
  }
}

.btn-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4) inset;
}

.btn-outline.btn[disabled],
.btn-outline.btn-disabled {
  background: none;
  box-shadow: none;
  color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .1);
}

.btn-outline.btn-active {
  background: none;
  color: rgba(0, 0, 0, .4);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset;
}

.btn[disabled],
.btn-disabled {
  cursor: default;
  box-shadow: none;
}

.btn-straight,
.btn-square {
  border-radius: 0;
}

.btn-blue,
input[type="submit"].btn-blue,
input[type="button"].btn-blue,
input[type="reset"].btn-blue,
button.btn-blue {
  @include mixins.create-button(colors.$color-blue, colors.$color-blue-dark, #fff);
}

.btn-blue--dark,
input[type="submit"].btn-blue--dark,
input[type="button"].btn-blue--dark,
input[type="reset"].btn-blue--dark,
button.btn-blue--dark {
  @include mixins.create-button(color.adjust(colors.$color-blue-dark, $lightness: -10%), colors.$color-blue-dark, #fff);
}

.btn-red,
input[type="submit"].btn-red,
input[type="button"].btn-red,
input[type="reset"].btn-red,
button.btn-red {
  @include mixins.create-button(colors.$color-red, colors.$color-red-dark, #fff);
}

.btn-green,
input[type="submit"].btn-green,
input[type="button"].btn-green,
input[type="reset"].btn-green,
button.btn-green {
  @include mixins.create-button(colors.$color-green, colors.$color-green-dark, #fff);
}

.btn-black,
input[type="submit"].btn-black,
input[type="button"].btn-black,
input[type="reset"].btn-black,
button.btn-black {
  @include mixins.create-button(colors.$color-black, colors.$color-black-light, #fff, .7);
}

.btn-yellow,
input[type="submit"].btn-yellow,
input[type="button"].btn-yellow,
input[type="reset"].btn-yellow,
button.btn-yellow {
  @include mixins.create-button(colors.$color-yellow, colors.$color-yellow-dark, #000);
}

.btn-white,
input[type="submit"].btn-white,
input[type="button"].btn-white,
input[type="reset"].btn-white,
button.btn-white {
  @include mixins.create-button(colors.$color-white, color.adjust(#fff, $lightness: -7%), #000, 1);
}

.btn-white,
input[type="submit"].btn-white,
input[type="button"].btn-white,
input[type="reset"].btn-white,
button.btn-white {
  &.btn-outline {
    border: 1px solid colors.$color-black;
    color: colors.$color-black;
  }

  &.btn-outline.btn-active {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: variables.$padding-btn-outline;
  }
}

/*
  Buttons Group
*/
.btn-single,
.btn-group {
  display: flex;
  flex-flow: row wrap;

  &.align-right {
    justify-content: flex-end;
  }

  &.align-left {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.fill-width {
    .btn {
      flex: 1;
    }
  }

  .btn.btn-outline {
    &:not(:last-child) {
      margin-right: -1px;
    }
  }

  .btn,
  input {
    margin-left: 0;
    margin-right: 1px;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn {
    border-radius: 0;

    &:first-child {
      border-radius: (variables.$border-radius * 0.5) 0 0 (variables.$border-radius * 0.5);
    }
    &:last-child {
      border-radius: 0 (variables.$border-radius * 0.5) (variables.$border-radius * 0.5) 0;
    }
  }

  &.rounded {
    .btn,
    .input-search {
      &:first-child {
        border-radius: (variables.$border-radius * 2) 0 0 (variables.$border-radius * 2);
      }
      &:last-child {
        border-radius: 0 (variables.$border-radius * 2) (variables.$border-radius * 2) 0;
      }
    }
  }
}
