/* =Cursor Helpers
-----------------------------------------------------------------------------*/

.cursor-pointer,
.cursor-finger,
%cursor-pointer,
%cursor-finger {
  cursor: pointer;
}

.cursor-arrow,
.cursor-default ,
%cursor-arrow,
%cursor-default {
  cursor: default;
}

.cursor-none,
%cursor-none {
  cursor: none;
}

.cursor-progress,
%cursor-progress {
  cursor: progress;
}

.cursor-help,
.cursor-question-mark,
%cursor-help,
%cursor-question-mark {
  cursor: help;
}

.cursor-text,
%cursor-text {
  cursor: text;
}

.cursor-cell,
.cursor-plus,
%cursor-cell,
%cursor-plus {
  cursor: cell;
}

.cursor-crosshair,
%cursor-crosshair {
  cursor: crosshair;
}

.cursor-alias,
.cursor-shortcut,
%cursor-alias,
%cursor-shortcut {
  cursor: alias;
}

.cursor-context-menu,
%cursor-context-menu {
  cursor: context-menu;
}

.cursor-copy,
%cursor-copy {
  cursor: copy;
}

.cursor-move,
%cursor-move {
  cursor: move;
}

.cursor-no-drop,
%cursor-no-drop {
  cursor: no-drop;
}

.cursor-not-allowed,
%cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-all-scroll,
%cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-col-resize,
.cursor-ew-resize,
%cursor-col-resize,
%cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-row-resize,
.cursor-ns-resize,
%cursor-row-resize,
%cursor-ns-resize {
  cursor: ns-resize;
}

.cursor-nesw-resize,
%cursor-nesw-resize {
  cursor: nesw-resize;
}

.cursor-n-resize,
%cursor-n-resize {
  cursor: n-resize;
}

.cursor-e-resize,
%cursor-e-resize {
  cursor: e-resize;
}

.cursor-s-resize,
%cursor-s-resize {
  cursor: s-resize;
}

.cursor-w-resize,
%cursor-w-resize {
  cursor: w-resize;
}

.cursor-ne-resize,
%cursor-ne-resize {
  cursor: ne-resize;
}

.cursor-nw-resize,
%cursor-nw-resize {
  cursor: nw-resize;
}

.cursor-sw-resize,
%cursor-sw-resize {
  cursor: sw-resize;
}

.cursor-se-resize,
%cursor-se-resize {
  cursor: se-resize;
}
