/* =Livesearch
-----------------------------------------------------------------------------*/
.livesearch-container {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    border-radius: $border-radius * 1.75;
    position: relative;
    width: 100%;
  }

  &.active {
    input {
      border-radius: ($border-radius * 1.75) ($border-radius * 1.75) 0 0;
      box-shadow: 0 none;
      border-color: $color-gray;
      z-index: 102;
    }
  }

  .close {
    @include close();
    position: absolute;
    top: .1em;
    right: 5px;
    z-index: 103;
  }

  .searching {
    @include spinning();
  }

}

.livesearch-results {
  background: $color-white;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: 0 0 $shadow-depth $color-black;left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 101;

  li:not:last-child {
    border-bottom: 1px solid $color-blue-dark;
  }

  a,
  span {
    color: $color-blue-dark;
    display: block;
    padding: $padding / 2;
    text-decoration: none;

    &:hover {
      background: $color-blue-pastel;
    }
  }

  span:hover {
    background: $color-white;
  }
}

.livesearch-icon {
  position: absolute;
  top: 53%;
  left: 10px;
  z-index: 2;

  &:before,
  &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin: -8px 0 0;
      background: rgba(0, 0, 0, .5);
  }

  &:before {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, .5);
    background: transparent;
    border-radius: 12px;
  }

  &:after {
    @include rotate(-45deg);

    left: 10px;
    width: 2px;
    height: 7px;
    margin-top: 0;
  }
}
