@use "colors";
@use "mixins";
@use "variables";

/* =Livesearch
-----------------------------------------------------------------------------*/
.livesearch-container {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    border-radius: variables.$border-radius * 1.75;
    position: relative;
    width: 100%;
  }

  &.active {
    input {
      border-radius: (variables.$border-radius * 1.75) (variables.$border-radius * 1.75) 0 0;
      box-shadow: 0 none;
      border-color: colors.$color-gray;
      z-index: 102;
    }
  }

  .close {
    @include mixins.close();
    position: absolute;
    top: .1em;
    right: 5px;
    z-index: 103;
  }

  .searching {
    @include mixins.spinning();
  }

}

.livesearch-results {
  background: colors.$color-white;
  border-radius: 0 0 variables.$border-radius variables.$border-radius;
  box-shadow: 0 0 variables.$shadow-depth colors.$color-black;left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 101;

  li:not:last-child {
    border-bottom: 1px solid colors.$color-blue-dark;
  }

  a,
  span {
    color: colors.$color-blue-dark;
    display: block;
    padding: variables.$padding * 0.5;
    text-decoration: none;

    &:hover {
      background: colors.$color-blue-pastel;
    }
  }

  span:hover {
    background: colors.$color-white;
  }
}

.livesearch-icon {
  position: absolute;
  top: 53%;
  left: 10px;
  z-index: 2;

  &:before,
  &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin: -8px 0 0;
      background: rgba(0, 0, 0, .5);
  }

  &:before {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, .5);
    background: transparent;
    border-radius: 12px;
  }

  &:after {
    @include mixins.rotate(-45deg);

    left: 10px;
    width: 2px;
    height: 7px;
    margin-top: 0;
  }
}
