@use "colors";
@use "mixins";

/* =Loader
-----------------------------------------------------------------------------*/

.loader,
.loader::after {
	@include mixins.square(5em);

	border-radius: 100%;
}

.loader {
	@include mixins.spinning();

  margin: 5em auto;
  font-size: .8em;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid colors.$color-white;
  transform: translateZ(0);
}
