// * ply media queries

// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-large-phone: 650px;
$breakpoint-tablet: 767px;
$breakpoint-small-desktop: 1024px;
$breakpoint-large-screen: 1400px;
$breakpoint-x-large-screen: 1800px;
