@use "colors";
@use "variables";

/* =Notifications
-----------------------------------------------------------------------------*/
.tools-alert {
  padding: 12px 15px;
  background: colors.$color-gray-pastel;
  color: colors.$color-black;
  margin-bottom: variables.$base-line;
}
.tools-message {
  display: none;
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  max-width: 350px;
  line-height: 1.5;
  font-size: 95%;
  padding: 12px 15px;
  color: colors.$color-black;
  background: colors.$color-gray;
}
.tools-message ul {
  margin: 0;
  list-style: none;
}
.tools-message-black,
.tools-message-blue,
.tools-message-red,
.tools-message-green {
  color: rgba(255, 255, 255, .95);
}
.tools-message-black {
  background: colors.$color-black;
}
.tools-message-blue {
  background: colors.$color-blue;
}
.tools-message-red {
  background: colors.$color-red;
}
.tools-message-yellow {
  background: colors.$color-yellow;
}
.tools-message-green {
  background: colors.$color-green;
}


// Alerts
.tools-alert-black {
  background: colors.$color-black-pastel;
}
.tools-alert-blue {
  background: colors.$color-blue-pastel;
}
.tools-alert-red {
  background: colors.$color-red-pastel;
}
.tools-alert-yellow {
  background: colors.$color-yellow-pastel;
}
.tools-alert-green {
  background: colors.$color-green-pastel;
}