// * -- ply color variables

// Base color
$background-body: #f7f8f8;
$color-body: #222;
$color-headings: #000;

// Colors
$color-gray: #e0e3e5;
$color-black: #0f0f0f;
$color-blue: #2575ed;
$color-red: #de2c3b;
$color-yellow: #ffc800;
$color-green: #2c9f42;
$color-white: #fff;

// Colors Dark
$color-gray-dark: #b3b6b7;
$color-black-dark: #000;
$color-blue-dark: #1a52a5;
$color-red-dark: #b2232f;
$color-yellow-dark: #cca000;
$color-green-dark: #237f35;

// Colors Light
$color-gray-light: #f0f1f2;
$color-black-light: #363738;
$color-blue-light: #92baf6;
$color-red-light: #ef969d;
$color-yellow-light: #ffe480;
$color-green-light: #96cfa1;

// Colors Pastel
$color-gray-pastel: #f7f8f8;
$color-black-pastel: #dadada;
$color-blue-pastel: #d3e3fb;
$color-red-pastel: #f8d5d8;
$color-yellow-pastel: #fff4cc;
$color-green-pastel: #d5ecd9;

// Table Color
$color-table-border: #eee;
$color-table-stripped: #f8f8f8;
$color-table-hovered: #f4f4f4;

// Fieldset
$color-fieldset-border: #ccc;

// Code
$color-code-background: #f4f4f4;
$color-code-border: #d4d4d4;

// Blockquote
$color-blockquote-border: #ddd;

// Input
$color-input-border: #ccc;
$color-input-append-background: #f4f4f4;
$color-input-append-border: #d4d4d4;

// Links Color
$color-link: #134da5;
$color-link-hover: $color-red;
