// Font
$font-family-base: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
$font-family-headings: $font-family-base;
$font-family-controls: $font-family-base;
$font-family-narrow: "Arial Narrow", sans-serif;
$font-family-serif: "Georgia", serif;
$font-family-code: Menlo, Monaco, Consolas, "Courier New", monospace;

// Grid
$grid-width: 1200;
$grid-gutter-width: 30 / ($grid-width / 100) * .2em;

// Type
$font-size-root: .9375; // .9375 = 15px/16px by default
$font-size-print: 12pt;
$font-size-base: $font-size-root + 0em;
$base-line: 1.65em;

// Font size and line height
$font-size-lead: 1.3125em; // 21px by default
$line-height-lead: 1.5;

$font-size-big:  ($font-size-root * 1.2 * 16) + 0px;
$font-size-small: ($font-size-root * .85 * 16) + 0px;
$font-size-smaller: ($font-size-root * .75 * 16) + 0px;

$header-font-weight: 100;

// Base padding and spacing
$padding: ($font-size-root * .75) * 1em;
$margin: $padding;
$border-radius: 4px;
$button-radius: 2em;

// HEADINGS

// print
$font-size-h1-print: 36pt;
$font-size-h2-print: 24pt;
$font-size-h3-print: 18pt;
$font-size-h4-print: 14pt;
$font-size-h5-print: 12pt;
$font-size-h6-print: 12pt;

// Large desktop
$font-size-h1-lg: 2.25em; // 36px
$font-size-h2-lg: 1.5em; // 24px
$font-size-h3-lg: 1.3125em; // 21px
$font-size-h4-lg: 1.125em; // 18px
$font-size-h5-lg: 1em; // 16px
$font-size-h6-lg: .75em; // 12px

// Portrait tablet to landscape and desktop
$font-size-h1-md: 2.25em; // 36px
$font-size-h2-md: 1.5em; // 24px
$font-size-h3-md: 1.3125em; // 21px
$font-size-h4-md: 1.125em; // 18px
$font-size-h5-md: 1em; // 16px
$font-size-h6-md: .75em; // 12px

// Landscape phone to portrait tablet
$font-size-h1-sm: 2.25em; // 36px
$font-size-h2-sm: 1.5em; // 24px
$font-size-h3-sm: 1.3125em; // 21px
$font-size-h4-sm: 1.125em; // 18px
$font-size-h5-sm: 1em; // 16px
$font-size-h6-sm: .75em; // 12px

// Input & Button Padding
$padding-input-base: .3em;
$padding-btn-base: .55em;
$padding-btn-side-base: 2.5em;
$padding-btn-side-in-forms-base: 1.3em;

$padding-input: $padding-input-base .35em;
$padding-btn: $padding-btn-base $padding-btn-side-base;
$padding-btn-outline: $padding-btn-base - (1/16*1) $padding-btn-side-base;
$padding-btn-outline-bold: $padding-btn-base - (1/16*2) $padding-btn-side-base;
$padding-btn-in-forms: $padding-input-base + (1/16*1) $padding-btn-side-in-forms-base;
$padding-btn-outline-in-forms: $padding-input-base $padding-btn-side-in-forms-base;
$padding-btn-outline-bold-in-forms: $padding-input-base - (1/16*1) $padding-btn-side-in-forms-base;
